{% extends 'base.html' %}

{% block head %}
<title>Estuda.com</title>
{% endblock %}

{% block body %}
<div class="aulaselecionar">
    <h1>Aulas da escola {{escola.nome}}:</h1>
    <br>
    <form action="/formselect/{{aluno.id}}" method="POST">
        <table>
            <tr>
                <th>Nivel</th>
                <th>Ano</th>
                <th>Série</th>
                <th>Turno</th>
                <th>Selecionar</th>
            </tr>
            {% for turma in turmas %}
            <tr>
                <td>{{turma.nivel}}</td>
                <td>{{turma.ano}}</td>
                <td>{{turma.serie}}</td>
                <td>{{turma.turno}}</td>
                <td><input type="checkbox" name="class" id="class" value="{{turma.id}}"></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Selecionar as aulas">
    </form>
    <br><br><br>
    <a href="../../index.html">Retornar à HomePage</a>
</div>
{% endblock %}