{% extends 'base.html' %}

{% block head %}
<title>Estuda.com</title>
{% endblock %}

{% block body %}
<div class="col-12">
    {% if verif == 1 %}
    <br><br>
    <h1 class="text-center">Nenhuma escola encontrada</h1>
    <br><br>
    {% endif %}
    {% if escolas|length < 1 %}
    <br>
    <h3>Busca de Escolas</h2>
        <small class="form-text text-muted">Digite o nome completo ou parte do nome da Escola</small>
        <form class="form-inline" action="/escolas.html" method="POST">
            <input type="text" name="nome" class="form-control" id="buscaEscola" placeholder="Ex: CEJA">
            <input type="submit" class="btn btn-primary mb-2" name="action" value="Buscar Escola">
        </form>


        {%  else %}
        <h1 class="text-center">Escolas</h1>
        <table class="table table-light table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for escola in escolas %}
                <tr>
                    <td>{{escola.id}}</td>
                    <td>{{escola.nome}}</td>
                    <td>{{escola.endereco}}</td>
                    <td>{{escola.situacao}}</td>
                    <td>{{escola.data}}</td>
                    <td>
                        <div class="dropdown" role="group">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Ações
                            </button>
                            <div class="dropdown-menu">
                                <form action="/escolas.html" method="POST">
                                    <input type="hidden" name="id" value="{{ escola.id }}" readonly>
                                    <input role="button" type="submit" class="dropdown-item" name="action"
                                        value="Remover">
                                </form>
                                <form action="/escolas.html" method="POST">
                                    <a role="button" class="dropdown-item"
                                        href="/update/escola/{{escola.id}}">Editar</a>
                                    <a role="button" class="dropdown-item"
                                        href="https://www.google.com.br/maps/place/{{escola.endereco}}"
                                        target="blank">Ver no
                                        Mapa</a>


                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a role="button" class="btn btn-primary" href="/escolas.html" method="GET">Buscar Nova Escola</a>
        {%  endif %}
</div>
<br><br>
<h4 class="text-center">Ou...</h4>
<br><br>
<div class="col-12">

    <h2>Cadastre nova escola</h2>
    <form action="/escolas.html" method="POST">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" placeholder="Ex: Escola Senador Filinto Muller">
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" id="endereco" class="form-control"
            placeholder="Ex: Avenida Fernando Correa, 2332">
        <label for="situacao">Situação de Funcionamento</label>
        <input type="text" name="situacao" id="situacao" class="form-control" placeholder="Ex: Em Funcionamento">
        <label for="data">Ano</label>
        <input type="text" name="data" id="data" class="form-control" placeholder="Ex:1979"><br>
        <input type="submit" class="btn btn-primary" name="action" value="Enviar Dados">
    </form>
    <br><br>
</div>
{% endblock %}