{% extends 'base.html' %}

{% block head %}
<title>Estuda.com</title>
{% endblock %}

{% block body %}
    {% if verif == 1 %}
    <h1>Nenhuma escola encontrada</h1>
    <br><br>
    {% endif %}
    {% if escolas|length < 1 %}
    <h2>Digite o nome da escola que deseja buscar.</h2>
    <form action="/escolas.html" method="POST">
        <input type="text" name='nome' id="nome" placeholder="Nome da Escola"><br>
        <input type="submit" name="action" value="Buscar Escola">
    </form>
    {%  else %}
    <h1>Dados</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Situação</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
        {% for escola in escolas %}
        <tr>
            <td>{{escola.id}}</td>
            <td>{{escola.nome}}</td>
            <td>{{escola.endereco}}</td>
            <td>{{escola.situacao}}</td>
            <td>{{escola.data}}</td>
            <td>
                <form action="/escolas.html" method="POST">
                    <input type="hidden" name="id" value="{{ escola.id }}" readonly>
                    <input type="submit" name="action" value="Remover Escola">
                </form>
                <br>
                <!--
                <form action="/escolas.html" method="POST">
                    <input type="hidden" name="id" value="{{ escola.id }}">
                    <input type="submit" name="action" value="Atualizar Escola">
                </form>
                -->
                <a href="/update/escola/{{escola.id}}">Editar</a>
                <br>
                <a href="https://www.google.com.br/maps/place/{{escola.endereco}}" target="blank">Encontrar no mapa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="escolas.html" method="GET">Buscar nova escola</a>
    {%  endif %}
    <br><br>
    <h2>Cadastrar nova escola</h2>
    <form action="/escolas.html" method="POST">
        <input type="text" name="nome" id="nome" placeholder="Nome"><br>
        <input type="text" name="endereco" id="tel" placeholder="Endereço"><br>
        <input type="text" name="situacao" id="email" placeholder="Situação"><br>
        <input type="text" name="data" id="data" placeholder="Ano"><br>
        <input type="submit" name="action" value="Enviar Dados">
    </form>
{% endblock %}