<!-- Código para herdar a base -->
{% extends 'base.html' %}

<!-- Herdando head da base  -->
{% block head %}

<title>Atualização de Alunos</title>

{% endblock %}

<!-- Herdando body da base -->
{% block body %}

<!-- Código de atualização dos alunos -->
<div class="col-12">
        <div class="row">
            <div class="col-4 text-center pt-4">
                <h3>Atualize os dados:</h3>
            </div>
    
            <div class="col-8">
                <form action="/update/aluno/{{aluno.id}}" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="ml-2 mx-1 mt-1">
                                <label class="font-weight-bold" for="data">Nome:</label>
                                <input class="form-control" style="width: 100% !important;" type="text" name="nome"
                                    id="nome" value="{{aluno.nome}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="ml-2 mx-1 mt-1">
                                <label class="font-weight-bold" for="data">E-mail:</label>
                                <input class="form-control" style="width: 100% !important;" type="email" name="email"
                                    id="email" value="{{aluno.email}}">
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <div class="ml-2 mx-1 mt-1">
                                <label class="font-weight-bold" for="data">Telefone:</label>
                                <input class="form-control" style="width: 100% !important;" type="number" name="tel"
                                    id="tel" value="{{aluno.telefone}}">
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-6">
                            <div class="my-1">
                                <label class="mr-sm-2 font-weight-bold ml-2" for="situacaoForm">Gênero</label>
                                <select required class="custom-select mr-sm-2 ml-2" id="situacaoForm" name="genero">
                                    <option value="M">M - Masculino</option>
                                    <option value="F">F - Feminino</option>
                                    <option value="O">O - Outro</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="mx-1 ml-3 my-1">
                                <label class="font-weight-bold ml-3" for="data">Data de Nascimento</label>
                                <input class="form-control pr-3 w-75 ml-3" type="date" name="nascimento" id="data"
                                value="{{aluno.nascimento}}">
                                <small class="form-text text-muted">Insira o ano em números</small>
                            </div>
                        </div>
                    </div>
    
    
                    <input type="submit" class="btn btn-primary ml-3 my-1" name="action" value="Atualizar">
                </form>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}